/spring-eureka-client-school-service/.settings
/spring-eureka-client-school-service/target
/spring-eureka-client-school-service/.classpath
/spring-eureka-client-school-service/.project

/spring-eureka-client-service/.settings
/spring-eureka-client-service/target
/spring-eureka-client-service/.classpath
/spring-eureka-client-service/.project

/spring-eureka-client-student-service/.settings
/spring-eureka-client-student-service/target
/spring-eureka-client-student-service/.classpath
/spring-eureka-client-student-service/.project

/spring-eureka-server-service/.settings
/spring-eureka-server-service/target
/spring-eureka-server-service/.classpath
/spring-eureka-server-service/.project

